body
{
    background-color: #faebd7;    
}

.content h2
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;

}

.content img
{
    height: 200px;
    width: 200px;
    border-radius: 30%;
    padding-left: 30px;
    padding-right: 30px;
    transition: transform .2s;
}

.content img:hover
{
    transform:scale(1.1);
}